.tech-grid {
    display: grid;
    width: 100%;
    gap: 3rem;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(200px, max-content));

}

@media (max-width: 900px) {
    .tech-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .tech-grid {
        grid-template-columns: 1fr;
    }
}