.tech-section {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    gap: 3rem;

}

.techs-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;


}