.code-block {
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: "Fira Code", monospace;
    font-size: 14px;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.6;
    font-size: 1rem;
    width: 100%;

    white-space: pre;
}

.keyword {
    color: #569cd6;
}

.variable {
    color: #4fc1ff;
}

.export-color {
    color: #c586c0
}

.type-color {
    color: #4ec9b0;
}

.bracket {
  color: #d4d4d4;
}

@media (max-width: 900px) {

    .code-block {
        overflow-x: auto;
    }
}